.particles {
  display: block;
  z-index: 1;
  height: 100vh;
  top: 0;
}

.landingPage {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
  position: absolute;
}

.landingPage h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 5px;
  z-index: 2;
}

.landingPage ::selection {
  color: #241e56;
  background: #fff;
}

.landingPage h2 {
  margin: 5px;
}

.search {
  position: absolute;
  width: auto;
  top: 30px;
  height: 30px;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
  align-content: center;
  left: calc((100% - 445px) / 2);
}

.search > div {
  height: 100%;
  display: flex;
  align-self: center;
  justify-content:center;
  align-items: center;
  align-content: center;
}

.search-button {
  margin-left: 10px;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  align-content: center;
}

.search-button input {
  border: 2px black;
  border-radius: 30px;
}

.search-button button {
  padding: 8px;
  border-radius: 10px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.search-button button:hover{
  color: #241e56;
  background-color: #fff;
}

.search > div > * {
  font-size: 10px;
  height: 100%;
}
